.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  max-width: 90rem;
  padding: 1rem;
  margin: auto;
}

.header > ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.header > ul > li {
  display: inline-block;
  /* border: #000 solid 1px; */
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  color: hsl(208, 0%, 50%);
}

.header > ul > li > a {
  font-weight: inherit;
  color: inherit;
}

.header > ul > li > a:hover {
  text-decoration: none;
  color: hsl(208, 0%, 20%);
}

.push {
  margin-left: auto;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logo > * {
  display: inline-block;
  align-self: center;
}

.logoText {
  color: hsl(208, 10%, 20%);
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

.active {
  color: #35a2ff !important;
}

.shadow {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.fadeLeft {
  /* background-color: #000; */
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0));
  height: 2px;
  top: 4.2rem;
  left: 0;
  position: fixed;
  width: calc((100% - 80rem) / 2);
  z-index: 505;
}

.fadeRight {
  background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0));
  height: 2px;
  top: 4.2rem;
  right: 0;
  position: fixed;
  width: calc((100% - 80rem) / 2);
  z-index: 505;
}

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  font-size: 0.9rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.col > a {
  color: inherit;
}

.col h5 {
  margin: 0;
}
