.container {
  max-width: 50rem;
  margin: 1rem auto 2rem;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.header > * {
  border: #000 solid 1px;
  padding: 10px;
}

.push {
  margin-left: auto;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logo > * {
  display: inline-block;
  align-self: center;
}

.logoText {
  color: rgb(18, 25, 27);
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
}
